/* ========================= */
/*         Base Styles      */
/* ========================= */

html {
    font-size: 30px;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header-container {
    font-family: Clancy;
}

.main {
    flex: 1;
}

.container-fluid {
    --bs-gutter-x: 15rem;
    padding-right: calc(var(--bs-gutter-x)* .5);
    padding-left: calc(var(--bs-gutter-x)* .5);
    overflow: hidden;
}

.qr_event {
    padding-right: 0.625rem;
}

.card {
    flex-direction: row;
    align-items: center;
    border: var(--bs-card-border-width) solid rgb(0 0 0 / 0%);
}

.bg-light {
    --bs-bg-opacity: 1;
    background-color: rgb(235, 235, 235) !important;
}

.shadow-sm {
    box-shadow: unset !important;
}

/* =========================== */
/* Generic QR and Title styles */
/* =========================== */

.qr-button {
    display: none;
}

.qr_event,
.qr_footer {
    display: block;
}

.qr_event img,
.qr_footer img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* ==================================== */
/* Events' card title wrapping ellipses */
/* ==================================== */

.card-title,
.card-title-footer {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 44rem;
} 


/* ========================= */
/*         Media Queries     */
/* ========================= */

@media (max-width: 2100px) {
    html {
        font-size: 20px;
    }

    .qr-button {
        display: none;
    }

    .qr_event,
    .qr_footer {
        height: 4rem;
    }

    .card-title,
    .card-title-footer {
        max-width: 40rem;
    }
}



@media (max-width: 1480px) {
    html {
        font-size: 12px;
    }

    .qr-button {
        display: none;
    }

    .card-title,
    .card-title-footer {
        max-width: 40rem;
    }

}

@media (max-width: 840px) {
    html {
        font-size: 8px;
    }

    .qr_event,
    .qr_footer {
        display: none;
    }

    .qr-button {
        display: inline-flex;
        /* Show button on small screens */
        align-items: center;
        /* Center vertically */
        background-color: #738ba5;
        color: white;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        margin-right: 1rem;
    }

    .qr-button:hover {
        background-color: #0056b3;
        /* Darker color on hover */
    }

    .card-title,
    .card-title-footer {
        max-width: 35rem;
    }

}



@media (max-width: 540px) {
    html {
        font-size: 5px;
    }

    .qr_event,
    .qr_footer {
        display: none;
    }

    .qr-button {
        display: inline-flex;
        /* Show button on small screens */
        align-items: center;
        /* Center vertically */
        background-color: #738ba5;
        color: white;
        border-radius: 5px;
        padding: 5px 10px;
        text-decoration: none;
        margin-right: 1rem;
    }

    .qr-button:hover {
        background-color: #0056b3;
        /* Darker color on hover */
    }

    .card-title,
    .card-title-footer {
        max-width: 25rem;
    }

}







/* ========================= */
/*         Header           */
/* ========================= */

.hero-container {
    position: absolute;
    z-index: -1;
    top: -8rem;
    left: -10rem;
    width: 25rem;
}

.hero {
    fill: #ffdc00;
}

header {
    /*background-color: #ffffff;*/
    padding: 0.625rem;
    /* 10px */
    /*border-bottom: 0.075rem solid #c2c2c2;*/
    /* 1.2px */
    margin-bottom: 1.25rem;
    /* 20px */
}

.library-header {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0;
    /* 20px */
}

.library-header img {
    max-height: 8rem;
}

.custom-line {
    margin-left: 0;
    border: none;
    border-top: 0.3125rem solid gray;
    /* 5px */
    width: 33%;
    margin: 0;
}

/* ========================= */
/*      What's On Header    */
/* ========================= */

.whats-on-header {
    font-weight: bold;
    text-align: left;
    font-size: 1.8rem;
    margin: 1.25rem 0 0 0;
}

.library-text {
    font-size: 1.5rem;
    font-weight: normal;
}

/* ========================= */
/*        Calendar          */
/* ========================= */

#month-container i {
    font-size: 1.7rem;
    color: #636363;
    margin-right: 0.7rem;
    margin-top: -.3rem;
}

#week-container {
    font-size: 1.2rem;
    gap: 3rem;
}

.calendar-container {
    /*background-color: #ffffff;*/
    padding: 0;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    font-family: Clancy;
}

.highlight {
    background-color: rgb(255, 228, 105);
    border-radius: 0.25rem;
    /* 4px */
    padding: 0.3125rem;
    /* 5px */
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

/* ========================= */
/*         Card Styles      */
/* ========================= */

#events-container {
    overflow: hidden;
}

#footer-events-container {
    overflow: hidden;
}

.carousel {
    display: flex;
    flex-direction: column;
    /*transition: transform 2s ease;*/
    transition-delay: 0.5s; 
}

.carousel-footer {
    transition-delay: 0.5s;  

    display: flex;
    flex-direction: column;
    /*transition: transform 2s ease;*/
}

.indicators {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.indicators .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.5s;
}

.indicators .dot.active {
    background-color: #ffdc00;
    transition: background-color 1.0s;
}

.indicators.single-dot .dot.active {
    background-color: transparent;
}


.no-events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-events-text {
    font-size: 3.0rem;
    /* 40px */
    font-weight: bold;
    color: rgb(161, 161, 161);
    margin: 9.375rem 0 3rem 0;
    /* 150px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-events-text i {
    font-size: 5rem;
    margin-right: 1.875rem;
    /* 30px */
}

.server-down {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.server-down-text {
    font-size: 3.0rem; /* 40px */
    font-weight: bold;
    color: rgb(161, 161, 161);
    margin: 9.375rem 0 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.server-down-text i {
    font-size: 6rem;
    margin-right: 4rem;
    color: rgb(255, 0, 0);
    /* 30px */
}

.soon-card {
    /*background-color: rgba(242, 235, 204, 0) !important;*/
}

.card-title {
    font-weight: bold;
}

.card-body {
    padding-top: 0.4375rem; /* 7px */
    padding-bottom: 0.3125rem;  /* 5px */
}

.title-container {
    display: flex;
    gap: 1.2rem;
}

.happening-soon,
.happening-now {
    color: #000000;
    padding-left: 0.3rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
    padding-right: 0.3rem;
    white-space: nowrap; /* Prevents line breaks within the element */
    margin-bottom: var(--bs-card-title-spacer-y);
    line-height: 1.2;
}

.happening-soon,
.happening-now {
    background-color: rgb(255, 228, 105);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}

.later-today {
    color: #00000000;
    background-color: rgba(230, 230, 230, 0);
}

/* ========================= */
/*         Card Text        */
/* ========================= */

.card-text {
    margin-bottom: 0.0625rem;
    /* 1px */
    text-indent: 0.1875rem;
    /* 3px */
}

.card-text .label {
    display: inline-block;
    width: 6.25rem;
    /* 100px */
}

/* ========================= */
/*         Card Text        */
/* ========================= */

.banner-container {
    width: 100%;
    height: calc(2 * 6.879rem);
    position: relative;
    overflow: hidden;
    background-color: #ffdc00; /* Adjust as needed */
}

.banner-slide {
    position: absolute; 
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease-in-out; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0; 
    pointer-events: none; 
    font-size: 1.0rem;
    text-align: center;

}



.banner-slide.active {
    opacity: 1; /* Fully visible */
    pointer-events: auto; /* Allow interaction */
}

.banner-slide .bi {
    font-size: 5rem;
    margin-right: 3rem;
    justify-self: right;
}

.slide-image {
    /*margin-left: 4rem;*/ 
    width: 5rem; 
    height: auto;
    justify-self: center;
}

.banner-slide .text-col h2 {
    font-size: 2rem;
}

.qr-col {
    display: flex;
    flex-direction: column; /* Stack QR code and URL vertically */
    align-items: center; /* Center-align them */
    gap: 10px; /* Space between QR code and URL */
}

/* ========================= */
/*          Footer          */
/* ========================= */

footer {
    /*height: 33rem;*/
    padding-top: 1rem;
}

.footer-events-title {
    font-family: Clancy;
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.875rem;
    /* 30px */
}

.footer-item {
    display: flex;
    background-color: #4b4b4b;
    padding: 0.625rem;
    /* 10px */
    align-items: center;
    border-radius: 0.3125rem;
    /* 5px */
}

.card-date-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-date-footer>* {
    flex: 1;
    min-width: 3.125rem;
    /* 50px */
}

.card-date-footer strong {
    font-size: 1.5rem;
    /* 24px */
}

.card-date-footer span {
    font-size: 0.875rem;
    /* 14px */
}

.card-details-footer {
    margin-left: 1.5rem;
    /* 15px */
    flex-grow: 1;
    text-align: left;
}

.card-title-footer {
    font-weight: bold;
    font-size: 1.125rem;
    /* 18px */
    margin-bottom: 0.3125rem;
    /* 5px */
}

.card-timelocation-footer {
    display: grid;
    grid-template-columns: 1rem 12rem 1rem 1rem; /* Fixed widths for each column */
    gap: 0.5rem; /* Space between the columns */
    white-space: nowrap; /* Prevent wrapping of content */
    width: max-content; /* Ensures the grid only takes as much space as needed */
}
