/* ========================= */
/*         Base Styles      */
/* ========================= */

html {
    font-size: 16px; /* Base root size: 1rem = 16px */
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 2150px) {
    html {
        font-size: 20px; 
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px; 
    }
    #qrcode {
        display: none; 
    }
    .qr_event {
        display: none; 
    }
    .qr_future {
        display: none; 
    }


    .qr-button {
        display: inline-flex; /* Align QR code and text */
        align-items: center; /* Center vertically */
        background-color: #738ba5; /* Button background color */
        color: white; /* Text color */
        border-radius: 5px; /* Rounded corners */
        padding: 5px 10px; /* Button padding */
        text-decoration: none; /* Remove underline */
    }

    .qr-button:hover {
        background-color: #0056b3; /* Darker color on hover */
    }


}


@media (min-width: 768px) {
    .qr-button {
        display: none; 
    }
}


@media (max-width: 480px) {
    html {
        font-size: 12px; 
    }
}


.qr_event {
    position: absolute;
    right: 10rem;
    bottom: 0.7rem;
}


/* ========================= */
/*         Header           */
/* ========================= */

header {
    background-color: #ffffff;
    padding: 0.625rem; /* 10px */
    border-bottom: 0.075rem solid #c2c2c2; /* 1.2px */
    margin-bottom: 1.25rem; /* 20px */
}

.library-header {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0; /* 20px */
}

.library-header img {
    max-height: 4rem;
}

.custom-line {
    margin-left: 0;
    border: none;
    border-top: 0.3125rem solid gray; /* 5px */
    width: 33%;
    margin: 0;
}

/* ========================= */
/*      What's On Header    */
/* ========================= */

.whats-on-header {
    font-weight: bold;
    text-align: left;
    font-size: 1.8rem;
    margin: 1.25rem 0 0 0;
}

.library-text {
    font-size: 1.5rem;
    font-weight: normal;
}

/* ========================= */
/*        Calendar          */
/* ========================= */

#month-container i {
    font-size: 1.4rem;
    color: #636363;
    margin-right: 0.625rem; /* 10px */
}

.calendar-container {
    background-color: #ffffff;
    padding: 0;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.highlight {
    background-color: rgb(255, 187, 169);
    border-radius: 0.25rem; /* 4px */
    padding: 0.3125rem; /* 5px */
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

/* ========================= */
/*         Card Styles      */
/* ========================= */

#event-container {
    height: 43.75rem; /* 700px */
    overflow-y: auto;
}

.no-events-text {
    font-size: 2.5rem; /* 40px */
    font-weight: bold;
    color: rgb(161, 161, 161);
    margin: 9.375rem 0; /* 150px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-events-text i {
    font-size: 3rem;
    margin-right: 1.875rem; /* 30px */
}

.highlight-card {
    background-color: rgba(242, 235, 204, 0.39) !important;
}

.card-body {
    padding-top: 0.4375rem; /* 7px */
    padding-bottom: 0.3125rem; /* 5px */
}

.card-title {
    font-weight: bold;
}

.happening-soon,
.later-today {
    top: 0.625rem; /* 10px */
    right: 0.625rem; /* 10px */
    color: #000000;
    padding: 0.5625rem; /* 9px */
    font-size: 0.75rem; /* 12px */
    font-weight: bold;
    border-radius: 0.1875rem; /* 3px */
    z-index: 1;
}

.happening-soon {
    background-color: rgb(255, 228, 105);
}

.later-today {
    background-color: rgb(230, 230, 230);
}

/* ========================= */
/*         Card Text        */
/* ========================= */

.card-text {
    margin-bottom: 0.0625rem; /* 1px */
    text-indent: 0.1875rem; /* 3px */
}

.card-text .label {
    display: inline-block;
    width: 6.25rem; /* 100px */
}

/* ========================= */
/*          Footer          */
/* ========================= */

footer {
    height: 27.56rem; /* 441px */
    overflow-y: auto;
}

.important-events-title {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.875rem; /* 30px */
}

.event-item {
    display: flex;
    background-color: #333;
    padding: 0.625rem; /* 10px */
    align-items: center;
    border-radius: 0.3125rem; /* 5px */
}

.event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.event-date > * {
    flex: 1;
    min-width: 3.125rem; /* 50px */
}

.event-date strong {
    font-size: 1.5rem; /* 24px */
}

.event-date span {
    font-size: 0.875rem; /* 14px */
}

.event-details {
    margin-left: 0.9375rem; /* 15px */
    flex-grow: 1;
    text-align: left;
}

.event-title {
    font-weight: bold;
    font-size: 1.125rem; /* 18px */
    margin-bottom: 0.3125rem; /* 5px */
}

.event-time-location {
    font-size: 0.875rem; /* 14px */
    color: #ccc;
}
