/* ========================= */
/*         Base Styles      */
/* ========================= */

html {
    font-size: 16px; /* Base root size: 1rem = 16px */
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@media (min-width: 2150px) {
    html {
        font-size: 20px; 
    }
}

@media (max-width: 768px) {
    html {
        font-size: 14px; 
    }
    #qrcode {
        display: none; 
    }
    .qr_event {
        display: none; 
    }
    .qr_future {
        display: none; 
    }


    .qr-button {
        display: inline-flex; /* Align QR code and text */
        align-items: center; /* Center vertically */
        background-color: #738ba5; /* Button background color */
        color: white; /* Text color */
        border-radius: 5px; /* Rounded corners */
        padding: 5px 10px; /* Button padding */
        text-decoration: none; /* Remove underline */
        margin-right: 1rem;
    }

    .qr-button:hover {
        background-color: #0056b3; /* Darker color on hover */
    }

    .card-title {
        white-space: nowrap; /* Prevents text wrapping */
        overflow: hidden; /* Hides any overflowing text */
        text-overflow: ellipsis; /* Adds ellipsis (...) to indicate overflow */
        max-width: 15rem; /* Set the maximum width of the title */
    }
    
    .event-title {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 15rem;
    }

}


@media (min-width: 768px) {
    .qr-button {
        display: none; 
    }
}


@media (max-width: 480px) {
    html {
        font-size: 12px; 
    }
}


.qr_event {
    padding-right: 10px;
}


.card {
    flex-direction: row;
    align-items: center;
}




/* ========================= */
/*         Header           */
/* ========================= */

.background-shape-container{
    position: absolute;
    z-index: -1;
    top: -5%;
    left: -10%;
    width: 30%;
}
.background-shape {
    fill: #ffdc00;
}

header {
    /*background-color: #ffffff;*/
    padding: 0.625rem; /* 10px */
    border-bottom: 0.075rem solid #c2c2c2; /* 1.2px */
    margin-bottom: 1.25rem; /* 20px */
}

.library-header {
    font-weight: bold;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.25rem 0; /* 20px */
}

.library-header img {
    max-height: 4rem;
}

.custom-line {
    margin-left: 0;
    border: none;
    border-top: 0.3125rem solid gray; /* 5px */
    width: 33%;
    margin: 0;
}

/* ========================= */
/*      What's On Header    */
/* ========================= */

.whats-on-header {
    font-weight: bold;
    text-align: left;
    font-size: 1.8rem;
    margin: 1.25rem 0 0 0;
}

.library-text {
    font-size: 1.5rem;
    font-weight: normal;
}

/* ========================= */
/*        Calendar          */
/* ========================= */

#month-container i {
    font-size: 1.4rem;
    color: #636363;
    margin-right: 0.625rem; /* 10px */
}

.calendar-container {
    /*background-color: #ffffff;*/
    padding: 0;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.highlight {
    background-color: rgb(255, 187, 169);
    border-radius: 0.25rem; /* 4px */
    padding: 0.3125rem; /* 5px */
    font-weight: bold;
}

.clickable {
    cursor: pointer;
}

/* ========================= */
/*         Card Styles      */
/* ========================= */

#event-container {
    height: calc(5 * (8.5rem)); /* 136px/16px = 8.5rem */
    overflow: hidden;
}
.carousel {
    display: flex;
    flex-direction: column;
    transition: transform 2s ease;
  }

  .indicators {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .indicators .dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: #ccc;
    transition: background-color 0.3s;
  }
  
  .indicators .dot.active {
    background-color: #333;
  }



.no-events {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-events-text {
    font-size: 2.0rem; /* 40px */
    font-weight: bold;
    color: rgb(161, 161, 161);
    margin: 9.375rem 0 3rem 0; /* 150px */
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-events-text i {
    font-size: 3rem;
    margin-right: 1.875rem; /* 30px */
}

.highlight-card {
    /*background-color: rgba(242, 235, 204, 0) !important;*/
}

.card-title {
    font-weight: bold;
}

.card-body {
    padding-top: 0.4375rem; /* 7px */
    padding-bottom: 0.3125rem; /* 5px */
}

.title-container {
    display: flex;
    align-items: flex-start; /* Aligns items vertically centered */
    gap: 10px; /* Adjust the gap between title and "Happening soon" */
}

.happening-soon, .later-today, .happening-now {
    top: 0;
    right: 0px;
    color: #000000;
    padding-left: 0.3rem;
    font-size: 0.7rem;
    font-weight: bold;
    border-radius: 0.3rem;
    padding-right: 0.3rem;
}

.happening-soon, .happening-now {
    background-color: rgb(255, 228, 105);
}

.later-today {
    background-color: rgb(230, 230, 230);
}

/* ========================= */
/*         Card Text        */
/* ========================= */

.card-text {
    margin-bottom: 0.0625rem; /* 1px */
    text-indent: 0.1875rem; /* 3px */
}

.card-text .label {
    display: inline-block;
    width: 6.25rem; /* 100px */
}

/* ========================= */
/*          Footer          */
/* ========================= */

footer {
    height: 27.56rem; /* 441px */
    /*overflow-y: auto;*/
}

.important-events-title {
    text-align: left;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 1.875rem; /* 30px */
}

.event-item {
    display: flex;
    background-color: #4b4b4b;
    padding: 0.625rem; /* 10px */
    align-items: center;
    border-radius: 0.3125rem; /* 5px */
}

.event-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.event-date > * {
    flex: 1;
    min-width: 3.125rem; /* 50px */
}

.event-date strong {
    font-size: 1.5rem; /* 24px */
}

.event-date span {
    font-size: 0.875rem; /* 14px */
}

.event-details {
    margin-left: 0.9375rem; /* 15px */
    flex-grow: 1;
    text-align: left;
}

.event-title {
    font-weight: bold;
    font-size: 1.125rem; /* 18px */
    margin-bottom: 0.3125rem; /* 5px */
}

.event-time-location {
    font-size: 0.875rem; /* 14px */
    color: #ccc;
}
